# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
backend/venv/
venv/
.venv/

# Environment variables
.env
.env.*

# Next.js
frontend/.next/
frontend/out/

# Node
frontend/node_modules/

# IDE
.vscode/
.idea/